// top nav bar
.navbar-custom {
  margin-bottom: 1em;
  background-color: $primary-color;
  @include bottom-border($secondary-color,$main-border);
}

.join_login_buttons {
  float: right;
  margin-left: 1em;
}
