h2 {
  font-size: 1.5em;
  margin-bottom: 2em;
}
// homepage
.what_is {
  margin-bottom: 7em;
}

.what_is h2 {
  text-align: center;
}

.border-box {
  border: 1px solid #ccc;
  @include rounded-corners(5px);
  padding: 10px;
  margin-bottom: 10px;
}

.errors {
  width: $max-main-width;
  color: red;
  @extend .center;
  @include padding-sides;
}
.center {
  margin: 0 auto;
}
.center-everything {
  @extend .center;
  text-align:center;
}
.main-content-box {
  max-width: $max-main-width;
  margin:15px auto 0 auto;
}
.header-box {
  text-align:center;
  margin-bottom:25px;
}

.vcenter-outer {
  padding: 0;
}

.vcenter-inner {
  margin: 0;
}

.lendr_home_img, .tendr_home_img {
  height: 100%;
  background-color: rgba(216, 191, 216, 0.8);
}

//homepage header styles
#index-header {
  div {
    text-align:center;
  }

}

.summary {
  @extend .center-everything;
  padding:20px 10px;
  margin: 12em 0;
}

.social-feed {
  @extend .center-everything;
  width: 60%;
  margin-bottom: 7em;
}

.youtube-vid {
  margin-top: 8em;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
