// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-box {
  max-width: 590px;
  width:100%;
  padding: 6px 12px;
  margin-left: 15px;
}

$profile-pic-container-width: 220px;
.profile_photo {
  max-width:200px;
  max-height:200px;
  display: inline;
}

.user_profile_header {
  margin-top: 0px;
}

.profile_container {
  margin-top: 2em;
}

.profile_pic_container {
  text-align: center;
  max-width: $profile-pic-container-width;
}
.edit-profile-pic {
  text-align:left;
  max-width: $profile-pic-container-width;

  img {
    margin-bottom:10px;
  }

  a {
    font-size: 0.9em;
    margin-top:10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
  }
}

.message_user_btn {
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

.garden_pic {
  display: inline;
  max-width: 100%;
}

.garden_headers {
  display: inline;
}
